/* Video */

/* video download links */
.vk-downloader-link { font-weight: bold }

/* video popup label */
.vk-downloader-video-label { font-weight: bold; color: #777 }

/* video viewer hint */
#vk-downloader-video-hint { float: right; font-weight: bold }
#vk-downloader-video-hint-link:hover { color: #fff !important }

/* Audio */

/* 19px in rules below is 3px margin + 16px download icon width */

/* “the new” audios */
.vk-downloader-audio-new .play_btn_wrap { padding-right: 3px !important } /* 9px -> 3px - distance to download button */
.vk-downloader-audio-new .info { width: 371px !important } /* -19px */
.vk-downloader-audio-new .title_wrap { width: 271px !important } /* -19px -35px-9px (extended duration & padding) */
.vk-downloader-audio-new .duration {
    max-width: none !important;
    padding: 0 !important;
}
.vk-downloader-audio-with-actions .vk-downloader-audio-duration-link,
.vk-downloader-audio-new .vk-downloader-audio-duration-link {
    background: transparent url(chrome://VKontakteRuDownloader/skin/pages/info.png) no-repeat;
    display: block;
    visibility: hidden;
    height: 13px;
    width: 13px;
}
.vk-downloader-audio-with-actions.over .vk-downloader-audio-duration-link,
.vk-downloader-audio-new.over .vk-downloader-audio-duration-link { visibility: visible }
.vk-downloader-audio-new.current .vk-downloader-audio-duration-link { background-position: -14px 0 }
.vk-downloader-audio-with-actions .vk-downloader-audio-duration-link-waiting,
.vk-downloader-audio-new .vk-downloader-audio-duration-link-waiting {
    background: transparent url(chrome://VKontakteRuDownloader/skin/pages/throbber.gif) no-repeat;
    background-position: 0 0 !important;
    height: 16px;
    width: 16px;
}
.vk-downloader-audio-with-actions.over .vk-downloader-audio-duration-link-waiting,
.vk-downloader-audio-new.over .vk-downloader-audio-duration-link-waiting {
    background: transparent url(chrome://VKontakteRuDownloader/skin/pages/throbber-over.gif) no-repeat;
}
.vk-downloader-audio-new.current .vk-downloader-audio-duration-link-waiting {
    background: transparent url(chrome://VKontakteRuDownloader/skin/pages/throbber-active.gif) no-repeat;
}
.vk-downloader-audio-with-actions .vk-downloader-audio-duration-link-wrap,
.vk-downloader-audio-new .vk-downloader-audio-duration-link-wrap {
    float: right;
    margin: 6px 6px 6px 0;
    opacity: 0.4;
    padding: 4px;
}
.vk-downloader-audio-with-actions .vk-downloader-audio-duration-link-wrap:hover,
.vk-downloader-audio-new .vk-downloader-audio-duration-link-wrap:hover { opacity: 1 }
.vk-downloader-audio-button-node {
    float: left;
    padding: 9px 9px 9px 0; /* 9px padding as in play button */
    height: 16px;
    width: 16px;
}
.vk-downloader-audio-duration {
    cursor: default;
    max-width: 95px; /* 42px (original .duration) +2×9px (.duration paddings) +35px (extended duration) */
    overflow: hidden;
    padding: 5px 9px 0 0;
    text-align: right;
    text-overflow: ellipsis;
}
.vk-downloader-audio-duration-ext {
    color: #777777;
    font-size: 0.8em;
    float: right;
}
.vk-downloader-audio-new.current .vk-downloader-button {
    background: url(chrome://VKontakteRuDownloader/skin/pages/download-overlay.gif) no-repeat;
    display: block;
    height: 16px;
    width: 16px;
}
.vk-downloader-audio-new.current .vk-downloader-button img { display: none }
.vk-downloader-audio-new.current .vk-downloader-audio-duration-ext { color: #fff }
#pad_playlist .vk-downloader-audio-new .info { width: 433px !important } /* -19px */
#pad_playlist .vk-downloader-audio-new .title_wrap { width: 328px !important } /* -19px -35px-9px (extended duration & padding) */
#pad_playlist .vk-downloader-audio-new .vk-downloader-audio-duration { cursor: pointer }

/* Common */
.vk-downloader-audio .play_btn_wrap { float: left }
.vk-downloader-audio .vk-downloader-button {
    display: block;
    float: left;
    margin-left: -3px;
    margin-right: 3px;
    padding: 6px 0;
    height: 16px;
    width: 16px;
}
.vk-downloader-audio td.vk-downloader-button-node {
    width: 47px; /* 6px px space, 16px play button, 3px space, 16px download button, 6px space */
}
.vk-downloader-audio .info { width: auto !important } /* space for download button */
.vk-downloader-audio.vk-downloader-audio-duration-rendered .duration {
    max-width: 70px; /* +35px (just enough to display it pretty) */
    padding: 0;
}

/* pixels and percents below are just a result of fine-tuning for everything to look okay */

/* Search */
/* Search: Music tab */
td.results .vk-downloader-audio .title_wrap { width: 340px !important } /* -20px (space for duration action) */
td.results .vk-downloader-audio.vk-downloader-audio-duration-rendered .title_wrap { width: 285px !important } /* -75px */
td.results .vk-downloader-audio .duration {
    max-width: none !important;
    padding: 3px 0 0 0;
}
/* Search: News tab */
#search_media_rows .vk-downloader-audio .title_wrap { width: 430px !important } /* original */
#search_media_rows .vk-downloader-audio .vk-downloader-audio-duration-link-wrap {
    margin: 5px 4px 3px 0; /* Looks just right side by side with add button (which is 4 4 4 0) */
}
#search_media_rows .vk-downloader-audio .duration {
    padding: 3px 0 0 0;
}
#search_media_rows .vk-downloader-audio.vk-downloader-audio-duration-rendered .duration {
    padding: 0;
}
#search_content .post_media .vk-downloader-audio.over .duration { /* only posts, not #search_media_rows */
    display: block !important;
}

/* Sidebar: in a user profile, on a group page */
.narrow_column .vk-downloader-audio .title_wrap { width: 100px !important } /* -20px */
.narrow_column .vk-downloader-audio.vk-downloader-audio-duration-rendered .title_wrap { width: 70px !important } /* -50px */
.narrow_column .vk-downloader-audio.vk-downloader-audio-duration-rendered .duration {
    max-width: 65px !important;  /* -20px */
    padding: 0;
}

/* Wide column: group audios; */
.wide_column .vk-downloader-audio .title_wrap { width: 320px !important } /* -5px */
.wide_column .vk-downloader-audio.vk-downloader-audio-duration-rendered .title_wrap { width: 280px !important } /* -35px -10px (just enough to fix markup) */

/* Wall module: user wall, group wall, etc */
.wall_module .vk-downloader-audio .title_wrap { width: 255px !important } /* -5px */
.wall_module .vk-downloader-audio.vk-downloader-audio-duration-rendered .title_wrap { width: 200px !important } /* -60px */
.wall_module .vk-downloader-audio.vk-downloader-audio-duration-rendered .duration {
    max-width: 70px !important; /* +35px (just enough to display it pretty) */
    padding: 0;
}

/* Wide wall module: news, user wall (when width increased after certain amount of scrolling down) */
.wide_wall_module .vk-downloader-audio .title_wrap { width: 430px !important } /* original */
.wide_wall_module .vk-downloader-audio.vk-downloader-audio-duration-rendered .title_wrap { width: 325px !important } /* -95px -10px (just enough to fix markup) */
.wide_wall_module .vk-downloader-audio.vk-downloader-audio-duration-rendered .duration {
    max-width: 130px !important; /* +95px (enough to display it in a single line) */
    padding: 8px 7px 7px 0; /* original */
}

/* Audio chooser interface: add audio to private message, etc */
.choose_audio_row .vk-downloader-audio.vk-downloader-audio-duration-rendered .duration {
    max-width: 70px !important; /* +35px (just enough to display it pretty) */
    padding: 0;
}

/* TODO: review all the styles below */

/* /css/player.css */
.playline,
.playerClass { width: 323px !important } /* -19px */

/* new audios: 3 latest, all audio.php, messages, news, blog-wall, public page */
.vk-downloader-audio > table td:first-child,
.vk-downloader-audio .play_btn {
    display: block; /* workaround table-layout:auto */
    height: 16px !important; /* fix height for the new layout */
    width: 39px !important; /* +19px */
}
.vk-downloader-audio > table td:first-child a:first-child,
.vk-downloader-audio .play_btn a:first-child { float: left } /* .play_new container; prevent download button getting under play button */
.vk-downloader-audio .audio_title_wrap { float: none !important; width: auto !important } /* fixes markup breaking when .duration width increased by file size info */
.vk-downloader-audio .player_wrap { margin-left: 47px !important } /* +19px */
.vk-downloader-audio .playline { width: auto !important } /* override .playline -19px fix */

/* audio.php: current user, other user, group */
/* overrides /css/al/audio.css r9 */
#audio .vk-downloader-audio td.info { width: 345px !important } /* -19px */
#audio .vk-downloader-audio .title_wrap { display: inline; float: none !important } /* fixes markup breaking when .duration width increased by file size info */

/* gsearch.php */
#searchResults .audioRow > table tr:first-child td:first-child { width: 39px !important } /* +19px */
#searchResults .audioRow .audioTitle { float: none !important } /* fixes markup breaking when .duration width increased by file size info */

/* /css/player.css */
.audio_play_btn { width: 39px !important } /* +19px */
.audio_play_btn .vk-downloader-button { margin-left: 3px }
.audio_desc { width: 331px !important } /* -19px */
.audio_line { margin-left: 47px !important } /* +19px */

/* wiki */
.wikiText .audioRow .vk-downloader-button { margin-left: 3px }
.wikiText .audioRow > table tr:first-child td:first-child { width: 39px !important; display: block } /* +19px */
.wikiText .audioRow > table tr:first-child td:last-child div:first-child { width: auto !important }
.wikiText .audioRow > div { margin-left: 44px !important } /* +19px */
.wikiText .playline { width: 323px !important } /* -19px */
.notes .wikiText .playline { width: 327px !important } /* -19px */

/* quality */
.vk-downloader-excellent .vk-downloader-audio-duration-ext{color:#00FF00;}
.vk-downloader-good .vk-downloader-audio-duration-ext{color:#f2a142;}
.vk-downloader-bad .vk-downloader-audio-duration-ext{color:#FF0000;}
