@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

radio[pane] {
    padding: 5px 3px 1px;
}

radio[pane="audioPane"] {
  list-style-image: url("chrome://vkontakterudownloader/skin/preferences/music.png");
  -moz-image-region: auto;
}
radio[pane="videoPane"] {
  list-style-image: url("chrome://vkontakterudownloader/skin/preferences/film.png");
  -moz-image-region: auto;
}
radio[pane="downloadsPane"] {
  list-style-image: url("chrome://vkontakterudownloader/skin/preferences/box_down.png");
  -moz-image-region: auto;
}
radio[pane="creditsPane"] {
  list-style-image: url("chrome://vkontakterudownloader/skin/preferences/attribution.png");
  -moz-image-region: auto;
}

#video-requestData-description {
    margin-left: 26px;
}

#addon-info {
    background: url("chrome://vkontakterudownloader/skin/icon.png") no-repeat;
    margin-bottom: 8px;
    min-height: 48px;
    padding: 8px 0 0 56px;
}
#addon-name {
    font-size: 1.6em;
}
#addon-link {
    margin: -24px 0 0 62px;
}
#credits-box {
    overflow-y: auto;
    margin-bottom: 8px;
}

.credits-section {
    display: block;
    font-weight: bold;
    margin-top: 8px
}
